.App{
  margin-bottom: 30px;
}

.navbar{
  display: flex;
  justify-content: space-around;
  background-color: blue;
  color: white;
}
.navDiv{
  position: relative;
}
.itemDiv{
  background-color: white;
  color: black;
  width: 20px;
  text-align: center;
  border-radius: 50%;
}
.itemIcon{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
/*CourseList.js*/
.cart{
  text-align: center;
}

/* CourseItem.js */
.cartItem{
  display: flex;
  justify-content: space-between;
  margin: 50px 150px;
}

.cartInfo{
  text-align: right;
}

.cartQuantityButton{
  background-color: white;
  border: none;
}

.cartQuantity{
  margin-right: 8px;
}

.cartDeleteButton{
  padding: 10px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 30px;
  margin-top: 50px;
}
/*CourseList.js*/
footer{
  text-align: center;
}
.cartClearButton{
  padding: 10px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 30px;
  margin-top: 50px;
}

